* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body{
  background-image: url("https://vignette.wikia.nocookie.net/nwnetflix/images/5/50/Wiki-background/revision/latest?cb=20190411162238");
  background-size: cover;
} */
body{
  background-color: #141414;
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:10px;
  background-color: #141414;
  align-items: center;
}
.header__left{
  color:  #fff;
  display: flex;
  align-items: center;
}
.header__left span,
.header__left strong{
  margin-right: 15px;
  cursor: pointer;
}

.header__left span:hover{
  color: #b3b3b3;
}
.header__left img{
  margin-left: 50px;
}
.header__search{
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.header__search i{
  font-size: 20px;
  cursor: pointer;
}
.header__search span{
  cursor: pointer;
}
.fa-search{
  color:white;
  margin-right: 20px;
  cursor: pointer;
}
.fa-bell,
.fa-user-circle{
  margin-left: 20px;
}
.fa-caret-down{
  margin: 0px 50px 0px 5px;
}
#search{
  margin-right: 20px;
  padding: 5px 70px 5px 5px;
  border:1px solid #fff;
  background-color: #141414;
  color: white;
}
.card__container{
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  justify-content: space-evenly;
  background-color: #141414;
}
.card__movie{
  width: 200px;
  height: 300px;
  /* margin: 20px; */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  text-align: center;
  cursor: pointer;
  background-color: black;
  /* border: 2px solid white; */
  color: white;
  transition: .5s;
  margin: 30px 0px;
  font-size: 15px;
}
.card__movie:hover{
  transform: scale(1.1);
}
.card__movie ul li{
  list-style-type: none;
  margin:20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card__movie ul li span{
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
}
.fa-star{
  color:yellow;
}
.format{
  color:orange;
}
.poster_path{
  width: 100%;
  height: 100%;
}
.overview{
  padding: 10px;
}
.actors{
  display: flex;
  flex-direction: column;
}
.scrool{
  overflow: auto;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
} /* colore di sfondo delle scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #b91515;
  border-radius: 10px;
}
/* ::-webkit-scrollbar-button {
  background-color: #7c2929;  */
/* } /* codice per personalizzare i bottoni alle estremità delle scrollbars */
