* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #141414;
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:10px;
  background-color: #141414;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
}
h2{
  padding: 5px 0px;
}
.header__left{
  color:  #fff;
  display: flex;
  align-items: center;
}
.header__left span,
.header__left strong{
  margin-right: 15px;
  cursor: pointer;
}
.header__left span:hover{
  color: #b3b3b3;
}
.header__left img{
  margin-left: 50px;
}
.header__search{
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.header__search i{
  font-size: 20px;
  cursor: pointer;
}
.header__search span{
  cursor: pointer;
}
.header__search img{
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.fa-search{
  color:white;
  margin-right: 20px;
  cursor: pointer;
}
.fa-bell,
.fa-user-circle{
  margin-left: 20px;
}
.fa-caret-down:before {
  margin: 0px 50px 0px 5px;
  font-size: 15px;
  padding: 5px;
}
#search{
  margin-right: 20px;
  padding: 5px 70px 5px 5px;
  border:1px solid #fff;
  background-color: #141414;
  color: white;
}
.card__container{
  background-color: grey;
  background-color: #141414;
  color: #fff;
  padding: 20px 0px;
  display: flex;
  overflow-x:hidden;
}
.card__movie{
  min-width: 200px;
  max-width: 200px;
  height: 300px;
  padding:2px;
  text-align: center;
  cursor: pointer;
  background-color: black;  color: white;
  transition: 1s;
  font-size: 15px;
  display: inline-block;
}

.card__movie:hover{
  z-index: 2;
  transform: scale(1.1);
  margin:0px 10px;
}
.card__movie:first-child:hover{
  z-index: 2;
  transform: scale(1.1);
  margin-left: 20px;
}
.card__movie ul li{
  list-style-type: none;
  margin:20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card__movie ul li span{
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
}
.fa-star{
  color:yellow;
}
.format{
  color:orange;
}
.poster_path{
  width: 100%;
  height: 100%;
}
.overview{
  padding: 10px;
}
.actors{
  display: flex;
  flex-direction: column;
}
.scrool{
  overflow-y: auto;
}
.container{
  color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative
}
#next,
#prec{
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 150px 5px;
}
#next{
  right: 0;
  cursor: pointer;
}
#prec{
  left: 0;
  cursor: pointer;
}
.generi{
  color: #fff;
}
.top__100{
  margin-top: 100px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
} /* colore di sfondo delle scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #b91515;
  border-radius: 10px;
}
/* ::-webkit-scrollbar-button {
  background-color: #7c2929;  */
/* } /* codice per personalizzare i bottoni alle estremità delle scrollbars */
